<!-- <section layout="horizontal"> -->


	<div flex layout="vertical">
		<md-toolbar  class="md-medium-tall md-whiteframe-z2"   md-theme="teal" ui-view="toolbar" layout-align="space-around"> </md-toolbar>
		<section layout="horizontal">	
			
			<md-sidenav class="md-sidenav-left md-whiteframe-z1" ng-hide="showSideNav()" component-id="left" is-locked-open="$media('md')" ui-view="leftsidenav"></md-sidenav>
	 		
	 		<md-content class="md-padding" flex  ui-view="mainpage"> </md-content>

	 </section>
	</div>


	<div ui-view="newpaper"></div>
 	<!-- <footer ui-view="footer"></footer> -->
<!-- </section> -->