      <div class="md-toolbar-tools" >
        <md-icon style="width: 24px; height: 24px;" icon="assets/icons/ic_menu_24px.svg">
        </md-icon>
        <h1 layout-arrange="center center">
          <span>Paper Setter</span>
        </h1>
        <span flex> </span>
        <img ng-src="assets/img/nvpic.JPG" class="face profilepic" alt="NV" >
      </div>
<!--       <h1 class="md-toolbar-tools" layout-arrange="center center">
        <span>Paper Setter</span>
      </h1>
      <span flex></span> -->