      <div class="md-toolbar-tools" layout-align="start center">
        <md-icon style="width: 24px; height: 24px;" icon="assets/icons/ic_menu_24px.svg">
        </md-icon>
        <h1 layout-arrange="center center">
          <span>Paper Setter</span>
        </h1>
        <span flex> </span>
      
        <!-- <div class="dropdown">
          Group papers by
           <select class="selector">
              <option value="subject">subject</option>
              <option value="status">status</option>
              <option value="month">month</option>
              <option value="name">name</option>
            </select> 
        </div>
        <div flex=10> </div> -->
        <img ng-src="assets/img/nvpic.JPG" class="face profilepic" alt="NV" >
      </div>
<!--       <h1 class="md-toolbar-tools" layout-arrange="center center">
        <span>Paper Setter</span>
      </h1>
      <span flex></span> -->